@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");



:root {
  --header-height: 3rem;

  /* ========COLORS======== */
  
  --first-color: hsl(25, 97%, 53%)
  --white-color: hsl(0, 0%, 100%);

   /*======= Font and Typography============= */
   --font-family: "Overpass", sans-serif;
   --normal-font-size: 0.938rem;
   --h1-font-size: 2rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1rem;

   /* ==========FONT WEIGHT========== */
  --font-medium: 400;
  --font-semi-bold: 700;
}

/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
  }

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--font-family);
    font-size: var(--normal-font-size);
    background-color: var(--button-background);
    color: var(--button-background);
  }

button {
    cursor: pointer;
  }

button,
input {
  border: none;
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}